# Exclude unnecessary files from npm package
.DS_Store
coverage/
modules/
example/
__mocks__/
__tests__/
__fixtures__/
.vscode/
.git/
.gitignore
babel.config.js
jest.polyfills.js
jest.setup.js
react-native.config.js
tsconfig*.json
*.test.*
*.spec.*
*.map
*.log
android/.gradle/
android/build/
android/buildSrc/
android/.idea/
android/local.properties
android/.settings/
android/.cxx/
android/.externalNativeBuild/
android/.DS_Store
ios/build/
